{% extends 'base.html.twig' %}

{% block title %}Club Blog{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mb-4 text-center">Club News</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for post in posts %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                {% if post.imageUrl %}
                    <img src="{{ post.imageUrl }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content|slice(0, 100) ~ '...' }}</p>
                    <a href="{{ path('blog_show', {'id': post.id}) }}" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        {% else %}
            <p>No blog posts yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
